body {
  font: 16px Arial, Helvetica, sans-serif
}

li {
  cursor: pointer;
  user-select: none
}

.more {
  border-top: 1px dotted rgb(196, 196, 196);
  font-size: 12px;
  padding-top: 10px
}

.more,
.more a {
  color: rgb(96, 96, 96)
}