{% extends 'base.html' %}
{% load static%}

{% block content %}

<div class="w3-container">
    <div class="container">
        <h1>Welcome to Doctors Survey</h1>
        <p>We are pleased to invite you in a 5-minute Health Survey.
            Our Patient Health Survey include general and non-invasive questions about your health and habits.
            Answering to all our questions will help us implement the best functional health improvement programs.</p>
        <div class="w3-row-padding">


            <form action="myurl" method="POST" name="myForm">

                {% for d in data %}
                <div class="form-group">
                    <label for="first_name">{{ d.text }}</label>
                    <br>
                    {% if d.type == "question-number"%}
                    <input type="number">
                    <br>

                    {% elif d.type == "question-100-breakdown"%}
                    {% for o in d.options%}
                    <input type="radio" name="first_name" id="fname">{{o.text}}</p>
                    {% endfor %}


                    {% elif d.type == "question-percent"%}
                    <input type="number" min="1" max="100" id="fname"></p>
                    {% elif d.type == "question-arrange-options"%}
                    <section>
                        <ul>
                            {% for o in d.options%}
                            <ul>
                                <li draggable="true" ondragend="dragEnd()" ondragover="dragOver(event)"
                                    ondragstart="dragStart(event)">{{o.text}}</li>

                            </ul>


                            {% endfor %}


                        </ul>
                    </section>
                    {% endif %}

                </div>
                {% endfor %}
                <input value="Submit" type="submit" onclick="submitform()">

            </form>

        </div>

    </div>
</div>



{% endblock %}